{{ define "title" }} {{ .UI.About.Title }} {{ end }}
{{ define "description" }} {{ .UI.About.Description }} {{ end }}
{{ define "view" }}

<main>
  <div class="section">
    <p class="title is-1 is-size-3-mobile has-text-centered">
      🔍 🥣 🍲 😋 🥰
    </p>
  </div>
  <div class="section">
    <div class="content">
      {{ .UI.About.Content }}
    </div>
  </div>
  <div class="section">
    <h2 class="title is-1 is-size-3-mobile has-text-centered">
      <span class="has-text-gradient">
        {{ .UI.Base.Description }}
      </span>
    </h2>
  </div>
</main>

{{ end }}
