{{ define "filter-ingredients" }}
<form class="my-4" id="ingredients-filter-form" live-change="ingredients-filter-form-change"
  live-submit="ingredients-filter-form-submit">
  <p class="help">{{ .UI.Recipe.Ingredients }}</p>
  <div class="field has-addons">
    <p class="control">
      <span class="select">
        <select name="searchtype">
          <option value="include">{{ .UI.Recipe.Filter.Include }}</option>
          <option value="exclude">{{ .UI.Recipe.Filter.Exclude }}</option>
        </select>
      </span>
    </p>
    <p class="control is-expanded">
      <input class="input" type="search" name="value" list="ingredients" placeholder="{{ .UI.Recipe.Ingredients }}">
      <datalist id="ingredients">
        {{ range $ingredient := .Ingredients }}
        <option value="{{ $ingredient.Product.Name }}">{{ $ingredient.Product.Name }}</option>
        {{ end }}
      </datalist>
    </p>
    <p class="control">
      <button class="button">
        <i class="bi bi-search"></i>
      </button>
    </p>
  </div>
</form>
{{ end}}
