{{ define "recipe-card" }}
<section class="card has-equal-height">
  <div class="card-content">
    <p class="title is-5 is-size-5-mobile mb-2"><a class="has-text-dark" href="/recipe/{{ .Slug }}">{{ .Name }}</a></p>
    <p class="subtitle is-6 is-size-6-mobile m-0">{{ .Description }}</p>
  </div>
  <div class="card-footer has-text-gradient">
    <p class="card-footer-item" title="Rating">
      <span class="icon-text">
        <span class="icon"><i class="bi bi-star-fill"></i></span>
        <span><b>{{printf "%.1f" .Rating}}</b></span>
      </span>
    </p>
    <p class="card-footer-item" title="Average duration">
      <span class="icon-text">
        <span class="icon"><i class="bi bi-clock"></i></span>
        <span><b>{{ FormatDuration .Time }}</b></span>
      </span>
    </p>
    <p class="card-footer-item" title="Servings">
      <span class="icon-text">
        <span class="icon"><i class="bi bi-cup-hot-fill"></i></span>
        <span><b>{{ .Servings }}</b></span>
      </span>
    </p>
  </div>
</section>
{{ end }}
