{{ define "title" }} {{ .Title }} {{ end }}
{{ define "description" }} {{ .UI.Base.Description }} {{ end }}
{{ define "view" }}
<main>
  <div class="section">
    <h1 class="title is-1 is-size-3-mobile">
      {{ .Type }}
      <span class="has-text-gradient">
        {{ .Title }}
      </span>
    </h1>
    {{/*  <h3 class="title is-3 is-size-5-mobile">{{ .UI.Base.Description }}</h3>  */}}
  </div>
  <div class="section">
    <!-- all recipes -->
    <h3 class="title is-3 is-size-5-mobile">
      {{ .UI.Catalog.RecipesTotal }}: {{ .RecipesCount }}
    </h3>
    <div class="grid is-gap-1">
      {{ range $i, $recipe := .Recipes }}
      <span class="cell">
        <a class="is-size-6 is-underlined has-text-grey-dark" href="/recipe/{{ $recipe.Slug }}">{{ $recipe.Name }}</a>
      </span>
      {{ end }}
    </div>
  </div>
</main>
{{ end }}
