{{ define "title" }} {{ .Recipe.Name }} {{ end }}
{{ define "description" }} {{ .Recipe.Description }} {{ end }}
{{ define "view" }}
<main>
  <div class="columns is-hidden-mobile">
    <div class="column">
      {{ template "back-to-home" }}
    </div>
    <div class="column is-narrow">
      <!-- Simplified View Toggle -->
      <button class="button is-light" aria-label="hide" live-click="toggle-show-simplified">
        <span class="icon">
          <i class="bi bi-book"></i>
        </span>
      </button>
    </div>
  </div>
  {{ if .ShowSimplified }}
  {{ template "simplified-view" . }}
  {{ else }}
  <!-- Hero -->
  <div class="section">
    <h1 class="title is-1 is-size-3-mobile">{{ Capitalize .Recipe.Name }}</h1>
    <div class="columns">
      <div class="column">
        {{ template "share-buttons" . }}
        <p class="content">
          {{ .Recipe.Description }}
        </p>
      </div>
      {{ if .Recipe.Nutrition.IsEmpty }}
      {{ else }}
      <div class="column is-one-third">
        {{ template "nutrition-card" . }}
      </div>
      {{ end }}
    </div>
    <p class="content">{{ .Recipe.Text }}</p>
  </div>
  <!-- Requirements -->
  <div class="section">
    <div class="columns">
      <div class="column is-8">
        <h4 class="title is-4">{{ .UI.Recipe.Ingredients }}</h4>
        {{ range .Recipe.Ingredients }}
        <div class="">
          <span class="has-text-weight-bold">{{ Title .Product.Name }} </span>
          <span class="">{{ .Quantity }} {{ .Unit }} </span>
          {{ if .Optional}}
          <span class="tag is-primary is-light">{{ $.UI.Recipe.Optional }}</span>
          {{ else}}
          {{ end }}
        </div>
        {{ end }}
      </div>
      {{ if .Recipe.Equipment }}
      <div class="column is-4">
        <h4 class="title is-4">{{ .UI.Recipe.Equipment }}</h4>
        <ul>
          {{ range .Recipe.Equipment }}
          <li>{{ .Name }}</li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </div>
  </div>
  <!-- Instructions -->
  <div class="section">
    <h4 class="title is-4">{{ .UI.Recipe.Instructions }}</h4>
    {{ range $i, $inst := .Recipe.Instructions }}
    <div class="columns">
      <div class="column is-narrow">
        <span class="title is-4 is-primary">{{ Plus1 $i }}</span>
      </div>
      <div class="column">
        <span>{{ $inst.Text }}</span>
      </div>
    </div>
    {{ end }}
  </div>
  <!-- Ideas -->
  {{ if .Recipe.Ideas }}
  <div class="section">
    <h4 class="title is-4">{{ .UI.Recipe.Ideas }}</h4>
    {{ range .Recipe.Ideas }}
    <div class="columns">
      <div class="column is-narrow">
        <p class="title is-3 is-primary">{{ RandomEmoji }}</p>
      </div>
      <div class="column">
        {{ .Text }}
      </div>
    </div>
    {{ end }}
  </div>
  {{ end }}
  <!-- Share buttons and comments -->
  <div class="section">
    {{ template "share-buttons" . }}
    {{ if .CommentsID }}
    {{ template "comments" . }}
    {{ end }}
  </div>
  {{ end }}
</main>
{{ end }}
