{{ define "nutrition-card" }}
<div class="box has-shadow has-bg-gradient2 has-text-white has-text-weight-bold is-size-6">
  <!-- Calories -->
  {{ if .Recipe.Nutrition.Calories }}
  <div class="level mb-0 is-mobile">
    <div class="level-left">
      <div class="level-item">
        <p class="">{{ .UI.Recipe.Nutrition.Calories }}</p>
      </div>
    </div>
    <div class="level-right">
      <p class="level-item">{{ .Recipe.Nutrition.Calories }}</p>
    </div>
  </div>
  {{ end }}
  <!-- Protein -->
  {{ if .Recipe.Nutrition.Protein }}
  <div class="level mb-0 is-mobile">
    <div class="level-left">
      <div class="level-item">
        <p class="">{{ .UI.Recipe.Nutrition.Protein }}</p>
      </div>
    </div>
    <div class="level-right">
      <p class="level-item">{{ .Recipe.Nutrition.Protein }}</p>
    </div>
  </div>
  {{ end }}
  <!-- Carbs -->
  {{ if .Recipe.Nutrition.Carbs }}
  <div class="level mb-0 is-mobile">
    <div class="level-left">
      <div class="level-item">
        <p class="">{{ .UI.Recipe.Nutrition.Carbs }}</p>
      </div>
    </div>
    <div class="level-right">
      <p class="level-item">{{ .Recipe.Nutrition.Carbs }}</p>
    </div>
  </div>
  {{ end }}
  <!-- Fat -->
  {{ if .Recipe.Nutrition.Fat }}
  <div class="level mb-0 is-mobile">
    <div class="level-left">
      <div class="level-item">
        <p class="">{{ .UI.Recipe.Nutrition.Fat }}</p>
      </div>
    </div>
    <div class="level-right">
      <p class="level-item">{{ .Recipe.Nutrition.Fat }}</p>
    </div>
  </div>
  {{ end }}
  <!-- Benefits -->
  {{ if .Recipe.Nutrition.Benefits }}
  <hr>
  {{ range .Recipe.Nutrition.Benefits }}
  <div class="level mb-0 is-mobile">
    <div class="level-left">
      <div class="level-item">
        <p class=""><i class="bi bi-award"></i></p>
      </div>
    </div>
    <div class="level-right">
      <p class="level-item">{{ . }}</p>
    </div>
  </div>
  {{ end}}
  {{ end }}
</div>
{{ end }}
