{{ define "title" }} {{ .UI.Base.Title }} {{ end }}
{{ define "description" }} {{ .UI.Base.Description }} {{ end }}
{{ define "view" }}
<main>
  <div class="section">
    {{ template "filter" . }}
  </div>
  <div class="section">
    <h3 class="title is-3 is-size-5-mobile">
      {{ if .Filter.IsEmpty }}
      {{ .UI.Home.RecipesTotal }}:
      {{ else }}
      {{ .UI.Home.RecipesFound }}:
      {{ end }}
      {{ .RecipesCount }}
    </h3>
    {{ template "pagination" . }}
    <div class="columns is-multiline">
      {{ range $i, $recipe := .Recipes }}
      <div class="column is-6">
        {{ template "recipe-card" $recipe }}
      </div>
      {{ end }}
    </div>
    {{ template "pagination" . }}
  </div>
</main>
{{ end }}

{{ define "pagination" }}
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  {{ if gt .Pagination.CurrentPage 1 }}
  <a live-patch href="?page={{ sub .Pagination.CurrentPage 1 }}" class="pagination-previous">
    {{ .UI.Home.Previous }}
  </a>
  {{ else }}
  <a class="pagination-previous" disabled>{{ .UI.Home.Previous }}</a>
  {{ end }}

  {{ if lt .Pagination.CurrentPage .Pagination.TotalPages }}
  <a live-patch href="?page={{ add .Pagination.CurrentPage 1 }}" class="pagination-next">
    {{ .UI.Home.Next }}
  </a>
  {{ else }}
  <a class="pagination-next" disabled>{{ .UI.Home.Next }}</a>
  {{ end }}

  <ul class="pagination-list">
    {{ $currentPage := .Pagination.CurrentPage }}
    {{ $totalPages := .Pagination.TotalPages }}

    <!-- Always show the first page -->
    <li>
      <a live-patch href="?page=1" class="pagination-link {{ if eq 1 $currentPage }}is-current{{ end }}">1</a>
    </li>

    <!-- Show ellipsis if necessary -->
    {{ if gt $currentPage 4 }}
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    {{ end }}

    <!-- Show pages around the current page -->
    {{ range $i := seq (max 2 (sub $currentPage 2)) (min (add $currentPage 2) (sub $totalPages 1)) }}
    <li>
      <a live-patch href="?page={{ $i }}" class="pagination-link {{ if eq $i $currentPage }}is-current{{ end }}">{{ $i }}</a>
    </li>
    {{ end }}

    <!-- Show ellipsis if necessary -->
    {{ if lt $currentPage (sub $totalPages 3) }}
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    {{ end }}

    <!-- Always show the last page -->
    <li>
      <a live-patch href="?page={{ $totalPages }}"
        class="pagination-link {{ if eq $totalPages $currentPage }}is-current{{ end }}">{{ $totalPages }}</a>
    </li>
  </ul>
</nav>
{{ end }}

{{ define "recipe-card" }}
<section class="card has-equal-height">
  <div class="card-content">
    <p class="title is-5 is-size-5-mobile mb-2"><a href="/recipe/{{ .Slug }}">{{ .Name }}</a></p>
    <p class="subtitle is-6 is-size-6-mobile m-0">{{ .Description }}</p>
    {{ template "tags" . }}
  </div>
  <div class="card-footer">
    <p class="card-footer-item" title="Rating">
      <span class="icon-text">
        <span class="icon"><i class="bi bi-star-fill"></i></span>
        <span><b>{{printf "%.1f" .Rating}}</b></span>
      </span>
    </p>
    <p class="card-footer-item" title="Average duration">
      <span class="icon-text">
        <span class="icon"><i class="bi bi-clock"></i></span>
        <span><b>{{ FormatDuration .Time }}</b></span>
      </span>
    </p>
    <p class="card-footer-item" title="Servings">
      <span class="icon-text">
        <span class="icon"><i class="bi bi-ui-checks"></i></span>
        <span><b>{{ .Servings }}</b></span>
      </span>
    </p>
  </div>
</section>
{{ end }}

{{ define "tags" }}
<div class="block">
  {{ range .Tags }}
  <button class='button {{ template "tag-button-style" . }} is-rounded is-small mr-2 mb-1'>
    <b>{{ .Group }}:{{ .Name }}</b>
  </button>
  {{ end }}
</div>
{{ end }}

{{ define "tag-button-style" }}
{{ if eq .Group "theme" }}
is-primary
{{ end }}
{{ if eq .Group "len" }}
is-success
{{ end }}
{{ if eq .Group "feature" }}
is-info
{{ end }}
{{ end }}

{{ define "filter" }}
<div class="block">
  <!-- Name Filter Form -->
  <form class="my-4" id="name-filter-form" live-change="name-filter-form-change" live-debounce=1000>
    <div class="field">
      <p class="control is-expanded">
        <input class="input" type="text" name="value" placeholder="{{ .UI.Recipe.Filter.NameContains }}">
      </p>
    </div>
  </form>
  <!-- Tags Filter Form -->
  <form class="my-4" id="tags-filter-form" live-change="tags-filter-form-change" live-submit="tags-filter-form-submit">
    <div class="field has-addons">
      <p class="control">
        <span class="select">
          <select name="searchtype">
            <option value="include">{{ .UI.Recipe.Filter.Include }}</option>
            <option value="exclude">{{ .UI.Recipe.Filter.Exclude }}</option>
          </select>
        </span>
      </p>
      <p class="control is-expanded">
        <input class="input" type="search" name="value" list="tags" placeholder="{{ .UI.Recipe.Tags }}">
        <datalist id="tags">
          {{ range $tag := .Tags }}
          <option value="{{ $tag.Name }}">{{ $tag.Group }}:{{ $tag.Name }}</option>
          {{ end }}
        </datalist>
      </p>
      <p class="control">
        <button class="button">
          {{ .UI.Recipe.Filter.Add }}
        </button>
      </p>
    </div>
  </form>
  <!-- Ingredients Filter Form -->
  <form class="my-4" id="ingredients-filter-form" live-change="ingredients-filter-form-change"
    live-submit="ingredients-filter-form-submit">
    <div class="field has-addons">
      <p class="control">
        <span class="select">
          <select name="searchtype">
            <option value="include">{{ .UI.Recipe.Filter.Include }}</option>
            <option value="exclude">{{ .UI.Recipe.Filter.Exclude }}</option>
          </select>
        </span>
      </p>
      <p class="control is-expanded">
        <input class="input" type="search" name="value" list="ingredients" placeholder="{{ .UI.Recipe.Ingredients }}">
        <datalist id="ingredients">
          {{ range $ingredient := .Ingredients }}
          <option value="{{ $ingredient.Product.Name }}">{{ $ingredient.Product.Name }}</option>
          {{ end }}
        </datalist>
      </p>
      <p class="control">
        <button class="button">
          {{ .UI.Recipe.Filter.Add }}
        </button>
      </p>
    </div>
  </form>
  <!-- Equipment Filter Form -->
  <form class="my-4" id="equipment-filter-form" live-change="equipment-filter-form-change"
    live-submit="equipment-filter-form-submit">
    <div class="field has-addons">
      <p class="control">
        <span class="select">
          <select name="searchtype">
            <option value="include">{{ .UI.Recipe.Filter.Include }}</option>
            <option value="exclude">{{ .UI.Recipe.Filter.Exclude }}</option>
          </select>
        </span>
      </p>
      <p class="control is-expanded">
        <input class="input" type="search" name="value" list="equipment" placeholder="{{ .UI.Recipe.Equipment }}">
        <datalist id="equipment">
          {{ range $item := .Equipment }}
          <option value="{{ $item.Name }}">{{ $item.Name }}</option>
          {{ end }}
        </datalist>
      </p>
      <p class="control">
        <button class="button">
          {{ .UI.Recipe.Filter.Add }}
        </button>
      </p>
    </div>
  </form>
</div>
{{ if not .Filter.IsEmpty }}
{{ template "filter-display" . }}
{{ end }}
{{ end }}

{{ define "filter-display" }}
<div class="block">
  {{ if .Filter.HasTagRules }}
  <p class="has-text-grey is-size-6 has-text-weight-semibold">{{ .UI.Recipe.Tags }}</p>
  <div class="columns my-2 p-0">
    <div class="column py-0">
      {{ range $i, $tag := .Filter.Tag }}
      <span class="tag is-primary is-medium mr-2">
        {{ $tag }}
        <button live-click="tags-filter-delete" live-value-delete="{{ $tag }}" live-value-searchtype="include"
          class="delete"></button>
      </span>
      {{ end }}
    </div>
    <div class="column py-0 has-text-right">
      {{ range $i, $tag := .Filter.TagNot }}
      <span key="{{ $i }}" class="tag is-danger is-medium mr-2">
        {{ $tag }}
        <button live-click="tags-filter-delete" live-value-delete="{{ $tag }}" live-value-searchtype="exclude"
          class="delete"></button>
      </span>
      {{ end }}
    </div>
  </div>
  {{ end }}
  {{ if .Filter.HasIngredientRules }}
  <p class="has-text-grey is-size-6 has-text-weight-semibold">{{ .UI.Recipe.Ingredients }}</p>
  <div class="columns my-2 p-0">
    <div class="column py-0">
      {{ range $i, $ingredient := .Filter.Ingredient }}
      <span key="{{ $i }}" class="tag is-success is-medium mr-2">
        {{ $ingredient }}
        <button live-click="ingredients-filter-delete" live-value-delete="{{ $ingredient }}"
          live-value-searchtype="include" class="delete"></button>
      </span>
      {{ end }}
    </div>
    <div class="column py-0 has-text-right">
      {{ range $i, $ingredient := .Filter.IngredientNot }}
      <span key="{{ $i }}" class="tag is-danger is-medium mr-2">
        {{ $ingredient }}
        <button live-click="ingredients-filter-delete" live-value-delete="{{ $ingredient }}"
          live-value-searchtype="exclude" class="delete"></button>
      </span>
      {{ end }}
    </div>
  </div>
  {{ end }}
  {{ if .Filter.HasEquipmentRules }}
  <p class="has-text-grey is-size-6 has-text-weight-semibold">{{ .UI.Recipe.Equipment }}</p>
  <div class="columns my-2 p-0">
    <div class="column py-0">
      {{ range $i, $equipment := .Filter.Equipment }}
      <span key="{{ $i }}" class="tag is-info is-medium mr-2">
        {{ $equipment }}
        <button live-click="equipment-filter-delete" live-value-delete="{{ $equipment }}"
          live-value-searchtype="include" class="delete"></button>
      </span>
      {{ end }}
    </div>
    <div class="column py-0 has-text-right">
      {{ range $i, $equipment := .Filter.EquipmentNot }}
      <span key="{{ $i }}" class="tag is-danger is-medium mr-2">
        {{ $equipment }}
        <button live-click="equipment-filter-delete" live-value-delete="{{ $equipment }}"
          live-value-searchtype="exclude" class="delete"></button>
      </span>
      {{ end }}
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
