{{ define "title" }} {{ .UI.Base.Title }} {{ end }}
{{ define "description" }} {{ .UI.Base.Description }} {{ end }}
{{ define "view" }}
<main>
  <div class="section">
    <h1 class="title is-1 is-size-3-mobile">{{ .UI.Base.Title }}</h1>
    <h3 class="title is-3 is-size-5-mobile">{{ .UI.Base.Description }}</h3>
    <h3 class="title is-3 is-size-5-mobile">{{ .RecipesCount }}</h3>
  </div>
  <div class="section">
    <div class="columns is-multiline">
      {{ range $i, $recipe := .Recipes }}
      <div class="column is-6">
        {{ template "recipe-card" $recipe }}
      </div>
      {{ end }}
    </div>
  </div>
</main>
{{ end }}

{{ define "recipe-card" }}
<section class="card has-equal-height">
  <div class="card-content">
    <p class="title is-5 is-size-5-mobile mb-2"><a href="/recipe/{{ .Slug }}">{{ .Name }}</a></p>
    <p class="subtitle is-6 is-size-6-mobile m-0">{{ .Description }}</p>
    {{ template "tags" . }}
  </div>
  <div class="card-footer">
    <p class="card-footer-item" title="Rating">
      <span class="icon-text">
        <span class="icon"><i class="bi bi-star-fill"></i></span>
        <span><b>{{printf "%.1f" .Rating}}</b></span>
      </span>
    </p>
    <p class="card-footer-item" title="Average duration">
      <span class="icon-text">
        <span class="icon"><i class="bi bi-clock"></i></span>
        <span><b>{{ FormatDuration .Time }}</b></span>
      </span>
    </p>
    <p class="card-footer-item" title="Servings">
      <span class="icon-text">
        <span class="icon"><i class="bi bi-ui-checks"></i></span>
        <span><b>{{ .Servings }}</b></span>
      </span>
    </p>
  </div>
</section>
{{ end }}

{{ define "tags" }}
<div class="block">
  {{ range .Tags }}
  <button class='button {{ template "tag-button-style" . }} is-rounded is-small mr-2 mb-1'>
    <b>{{ .Group }}:{{ .Name }}</b>
  </button>
  {{ end }}
</div>
{{ end }}

{{ define "tag-button-style" }}
{{ if eq .Group "theme" }}
is-primary
{{ end }}
{{ if eq .Group "len" }}
is-success
{{ end }}
{{ if eq .Group "feature" }}
is-info
{{ end }}
{{ end }}
