{{ define "title" }} {{ .Recipe.Name }} {{ end }}
{{ define "description" }} {{ .Recipe.Description }} {{ end }}
{{ define "view" }}
<main>
  <div class="section">
    <h1 class="title is-1 is-size-3-mobile">{{ .Recipe.Name }}</h1>
    <h3 class="title is-3 is-size-5-mobile">{{ .Recipe.Description }}</h3>
    <h4 class="title is-4 is-size-6-mobile">{{ .Recipe.Text }}</h4>
  </div>
</main>
{{ end }}

{{ define "share-result-twitter" }}
<a target="_blank" class="button is-fullwidth share-twitter-button"
  href="https://twitter.com/intent/tweet?original_referer={{ .Test.Link .Domain }}&amp;text={{ .Test.ResultShareText }}&amp;tw_p=tweet&amp;url={{ .Test.Link .Domain }}&amp;via=OrreryLab">
  <span class="icon">
    <i class="bi bi-twitter"></i>
  </span>
  <span>Share on Twitter</span>
</a>
{{ end }}

{{ define "share-result-facebook" }}
<a target="_blank" class="button is-fullwidth share-facebook-button"
  onclick="return !window.open(this.href, 'Facebook', 'width=640,height=480')"
  href="https://www.facebook.com/sharer.php?u={{ .Test.Link .Domain }}" data-url="{{ .Test.Link .Domain }}">
  <span class="icon">
    <i class="bi bi-facebook"></i>
  </span>
  <span>Share on Facebook</span>
</a>
{{ end }}
