// brand colors
$red: #ff595e;
// $orange: #ff7f11;
$yellow: #ffca3a;
$green: #8ac926;
$green2: #88e337;
$purple: #cc68ea;
$blue: #2090d6;

$twitter: #1d9bf1;
$facebook: #1b74e8;

$brand: $green;
$link: $green2;
$accent: $purple;

$radius-large: 25px;

$gradientColor1: $green;
$gradientColor2: $green2;
$gradientColor3: $yellow;
$gradientColor4: $red;
$gradientColor5: $purple;

$text-color: #4e5157;

:root {
  --bulma-primary-h: #{hue($brand)};
  --bulma-primary-s: #{saturation($brand)};
  --bulma-primary-l: #{lightness($brand)};

  --bulma-link-h: #{hue($link)};
  --bulma-link-s: #{saturation($link)};
  --bulma-link-l: #{lightness($link)};

  --bulma-info-h: #{hue($accent)};
  --bulma-info-s: #{saturation($accent)};
  --bulma-info-l: #{lightness($accent)};

  --bulma-success-h: #{hue($green)};
  --bulma-success-s: #{saturation($green)};
  --bulma-success-l: #{lightness($green)};

  --bulma-warning-h: #{hue($yellow)};
  --bulma-warning-s: #{saturation($yellow)};
  --bulma-warning-l: #{lightness($yellow)};

  --bulma-danger-h: #{hue($red)};
  --bulma-danger-s: #{saturation($red)};
  --bulma-danger-l: #{lightness($red)};

  --bulma-shadow: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Wix Madefor Text", sans-serif;
}

.has-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.has-equal-height .card-footer {
  margin-top: auto;
}

// share buttons

.share-twitter-button {
  background-color: $twitter;
  color: #fff;
  border: 0;
  margin: 0 1px;
}

.share-facebook-button {
  background-color: $facebook;
  color: #fff;
  border: 0;
  margin: 0 1px;
}

/* Loading */

@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

.live-click-loading,
.live-change-loading,
.live-submit-loading,
.live-focus-loading,
.live-blur-loading,
.live-keydown-loading,
.live-keyup-loading {
  @include keyframes(movi) {
    0%,
    20% {
      transform: translateY(0px);
    }
    40% {
      transform: translateY(-18px);
    }
    80%,
    100% {
      transform: translateY(0px);
    }
  }
  @include animate(movi, 1s, linear, infinite);
}

#main-view-content {
  @include keyframes(fadein) {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @include animate(fadein, 0.12s, linear, 1);
}

.modal {
  @include keyframes(fadein) {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @include animate(fadein, 0.1s, linear, 1);
}

$gradient: linear-gradient(
  90deg,
  $gradientColor1,
  $gradientColor2 25%,
  $gradientColor3 60%,
  $gradientColor4 90%,
  $gradientColor5
);

$gradient2: linear-gradient(
  105deg,
  $gradientColor1,
  $gradientColor2 25%,
  $gradientColor3 60%,
  $gradientColor4 90%,
  $gradientColor5
);

.has-text-gradient {
  background: $brand;
  background-image: $gradient;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.has-bg-gradient {
  background-image: $gradient;
}

.has-bg-gradient2 {
  background-image: $gradient2;
}

@mixin shadow {
  box-shadow:
    rgba($text-color, 0.1) 0px 8px 24px,
    rgba($text-color, 0.1) 0px 16px 56px,
    rgba($text-color, 0.1) 0px 24px 80px;
}

.has-shadow {
  @include shadow;
}
